.pagina-pagamento{
  display: flex;
  flex-direction: column;

  .tudo {
    display: flex;
    flex-direction: row;
    .esquerda {
      width: 600px;
    }
  }

  .esq {

      padding: 100px 0px 0px 70px;
    .textos {
      font-size: 12px;
      color: #0083CA;
    }
  }

  .esq2{
    padding: 60px 0px 0px 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
    
    .tipos {
      gap: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 2px solid #d1d1d1ff;
      width: 250px;
      outline: none;
      height: 50px;



      img {
        height: 40px;
      }

      select {
        outline: none;
        border: none;
        height: 30px;
        width: 185px;
        display: flex;
        font-size: 14px;
      }


    }

    .tipos2 {
      padding: 40px;
      input {
        padding: 20px;
        border: 2px solid #d1d1d1ff;
        height: 40px;
        width: 420px;
      }
    }

    .tipos3 {
      display: flex;
      flex-direction: row;
      gap: 20px;
      border: none;

      .nr {
        height: 40px;
        padding: 20px;
        border: 2px solid #d1d1d1ff;
        width: 220px;
      }

      .MM {
        border: 2px solid #d1d1d1ff;
        height: 40px;
        width: 90px;
        padding: 20px;
      }

      .CVV {
        border: 2px solid #d1d1d1ff;
        height: 40px;
        width: 72px;
        padding: 20px;
      }
    }


  }

  .direita {
    display: flex;
    flex-direction: column;
    width: 680px;

    .dir {
      display: flex;
      line-height: 30px;
      flex-direction: column;
      padding: 100px 60px 60px 60px;

      .textosloc {
        gap: 14px;
        display: flex;
        flex-direction: row;

        h1 {
          font-size: 25px;
          color: #0083CA;
        }

        img {
          height: 30px;
        }
      }

      .inputs {
          line-height: 40px;
          padding: 80px 20px 20px 20px;

        .endere {
          padding: 18px;
          height: 30px;
          width: 450px;
          border: 2px solid #c8c8c8;
        }

        .cs {
          display: flex;
          flex-direction: row;
          gap: 30px;
          padding: 20px 0px 0px 0px;

          .cepi {
            padding: 18px;
            height: 30px;
            width: 300px;
            border: 2px solid #c8c8c8;
          }
          input {
            padding: 18px;
            height: 30px;
            width: 120px;
            border: 2px solid #c8c8c8;
          }
        }
        .complementoo {
          padding: 20px 0px 0px 0px;
        input {
          padding: 18px;
          height: 30px;
          width: 450px;
          border: 2px solid #c8c8c8;
        }

      }

    .confi {
        padding: 30px 0px 0px 170px;

      button {
        background-color: #0083CA;
        font-weight: bold;
        font-size: 16px;
        height: 40px;
        color: #fff;
        border-radius: 20px;
        width: 150px;
      }
    }
      }

    }
  }
}